services:
  search-service:
    build:
      context: ./search
    container_name: search-service
    env_file:
      - .env
    ports:
      - "8001:80"

  community-service:
    build:
      context: ./community
    container_name: community-service
    env_file:
      - .env
    ports:
      - "8002:80"

  # map-service:
  #   build:
  #     context: ./map
  #   container_name: map-service
  #   env_file:
  #     - .env
  #   ports:
  #     - "8003:80"